# Example for variables mapping which should be defined for your project
project = "<your_project_name>"
public_key_path = "~/.ssh/<your_key_name>.pub"
private_key_path = "~/.ssh/<your_key_name>"
region = "<region_name>"
zone = "<zone_name>"
machine_type = "<machine_type_name>"
app_disk_image = "<your_reddit-app-base_image_name>"
db_disk_image = "<your_reddit-db_image_name"
