[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
EnvironmentFile=/home/{{ deploy_user }}/db_config
User={{ deploy_user }}
WorkingDirectory={{ app_dir }}
ExecStart=/bin/bash -lc 'puma -b tcp://{{ listen_ip }}:9292'
ExecReload=/bin/kill -s USR1 $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
